pyserial==3.5
numpy==2.3.2
matplotlib==3.10.5
PyQt6==6.9.1
pyqtgraph==0.13.7
streamlit==1.49.1
scipy==1.16.2
librosa==0.11.0
scikit-learn==1.7.2
bleak==1.1.1
pyautogui==0.9.54
torch==2.9.1
pyaudio==0.2.14
dearpygui==2.1.1
torchvision==0.24.1